* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D4D4D4;
    font-family: "JetBrains Mono", serif;
}

header {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #6579FF;
    font-size: 220%;
}

.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 2fr 3fr 4fr;
    gap: 2%;
    margin: 5% 30% 0 30%;
}

.card {
    display: block;
    width: 332px;
    height: 497px;
    border-radius: 4%;
    background-color: #F1EFEF;
    transition-duration: 0.25s;
}

.header-card {
    text-align: center;
    font-size: 160%;
}

.img-card img {
    border-radius: 3%;
}

.substrate-card {
    display: block;
    width: 310px;
    height: 150px;
    margin: 0% auto;
    border-radius: 6%;
    background-color: #D9D9D9;
}

section {
    padding: 3%;
    text-align: left;
    font-size: 60%;
}

.card:hover {
    scale: 102%;
    cursor: pointer;
}

@media (max-width: 640px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
    }
}